.table{
    color:aliceblue;
    font-size: large;
}

.certi{
    color:aliceblue;
    width:100%;
    height: fit-content;
}
table{
    width: 100%;
    padding: 20px;
    border:1px white solid;
}
.title{
    margin-top: 5rem;
    margin-bottom: 10rem;
    color:aliceblue;
    font-size:x-large;
    text-align:center;
    padding-left: 10rem;
    width:100%;
}
thead{
    background-color: #616892;
}

.mycerti{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:hover {background-color:whitesmoke;
color:#616892}

